<%= form_for([@article, @article.comments.build], html: {role: 'form'}) do |f| %>
    <div class="field form-group">
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter, class: 'form-control' %>
    </div>
   <div class="field form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>
    </div>    
    <div class="field form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="actions">
    	<%= f.submit 'Add', :class => "btn btn-default" %>
    </div>	
<% end %>