<%= form_for([@article, @article.comments.build],  html: {role: 'form'}) do |f| %>
  <div class="form-group">
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </div>  
  <%= f.submit :class => "btn btn-default" %>
<% end %>